<a href="https://colab.research.google.com/github/Peggy4444/hello-world/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

In [2]:
print(tf.__version__)

2.4.1

In [3]:
import numpy
#from keras.datasets import imdb
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
# fix random seed for reproducibility
numpy.random.seed(7)
import numpy
from keras.datasets import imdb
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
# fix random seed for reproducibility
numpy.random.seed(7)
from sklearn.model_selection import train_test_split

In [5]:
from tqdm.notebook import tqdm

In [6]:

!pip install matplotsoccer

Collecting matplotsoccer
  Downloading https://files.pythonhosted.org/packages/71/27/fbe1ee8008fd03186cfa888b42cb776f675f1a2b1efd255c01b85925dd44/matplotsoccer-0.0.8.tar.gz
Building wheels for collected packages: matplotsoccer
  Building wheel for matplotsoccer (setup.py) ... done
  Created wheel for matplotsoccer: filename=matplotsoccer-0.0.8-cp37-none-any.whl size=5983 sha256=5739ade5384ad3ecef1edfe3e4436f2b18c82a8be035df1307b07109ec5340b1
  Stored in directory: /root/.cache/pip/wheels/69/af/8d/ee61635d6f863657abe8cd0c22622c408a4b980d5af1974f1f
Successfully built matplotsoccer
Installing collected packages: matplotsoccer
Successfully installed matplotsoccer-0.0.8

In [10]:
!pip install tables==3.6.1

Collecting tables==3.6.1
  Downloading https://files.pythonhosted.org/packages/0f/cb/4097be890a773af95343389faa8c283b0d9ff606f144227a548461dcbdd5/tables-3.6.1-cp37-cp37m-manylinux1_x86_64.whl (4.3MB)
     |████████████████████████████████| 4.3MB 9.3MB/s
Requirement already satisfied: numpy>=1.9.3 in /usr/local/lib/python3.7/dist-packages (from tables==3.6.1) (1.19.5)
Requirement already satisfied: numexpr>=2.6.2 in /usr/local/lib/python3.7/dist-packages (from tables==3.6.1) (2.7.3)
Installing collected packages: tables
  Found existing installation: tables 3.4.4
    Uninstalling tables-3.4.4:
      Successfully uninstalled tables-3.4.4
Successfully installed tables-3.6.1

In [12]:
!pip install socceraction

Collecting socceraction
  Downloading https://files.pythonhosted.org/packages/9d/ff/b97b8b06bafcd2c1ce6487757c921994f1453e58314baa823fc75aabb1cc/socceraction-1.0.1.tar.gz (48kB)
     |████████████████████████████████| 51kB 3.0MB/s
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from socceraction) (0.29.22)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from socceraction) (4.2.6)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from socceraction) (1.1.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from socceraction) (20.9)
Collecting pandera>=0.6.1
  Downloading https://files.pythonhosted.org/packages/fc/13/4836eea5ce9be72980208012ab118dd5b6c841a3ceb02607eb3c7f740281/pandera-0.6.2-py3-none-any.whl (76kB)
     |████████████████████████████████| 81kB 3.7MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from socceraction) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from socceraction) (0.22.2.post1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from socceraction) (4.41.1)
Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/9e/25/723487ca2a52ebcee88a34d7d1f5a4b80b793f179ee0f62d5371938dfa01/Unidecode-1.2.0-py2.py3-none-any.whl (241kB)
     |████████████████████████████████| 245kB 7.8MB/s
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->socceraction) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->socceraction) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->socceraction) (2.8.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->socceraction) (2.4.7)
Requirement already satisfied: typing-extensions>=3.7.4.3; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from pandera>=0.6.1->socceraction) (3.7.4.3)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera>=0.6.1->socceraction) (1.12.1)
Collecting typing-inspect>=0.6.0
  Downloading https://files.pythonhosted.org/packages/42/1c/66402db44184904a2f14722d317a4da0b5c8c78acfc3faf74362566635c5/typing_inspect-0.6.0-py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->socceraction) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->socceraction) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->socceraction) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->socceraction) (2.10)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->socceraction) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->socceraction) (1.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->socceraction) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading https://files.pythonhosted.org/packages/5c/eb/975c7c080f3223a5cdaff09612f3a5221e4ba534f7039db34c35d95fa6a5/mypy_extensions-0.4.3-py2.py3-none-any.whl
Building wheels for collected packages: socceraction
  Building wheel for socceraction (setup.py) ... done
  Created wheel for socceraction: filename=socceraction-1.0.1-cp37-none-any.whl size=54190 sha256=7dda4ed785fdb9080e4245bcc26410e0c6e660b768efe674216f0c4b995e9ea6
  Stored in directory: /root/.cache/pip/wheels/dc/79/42/885df92f40a5a074ec9da7b97e20acd0cee59518d055f0f657
Successfully built socceraction
Installing collected packages: mypy-extensions, typing-inspect, pandera, unidecode, socceraction
Successfully installed mypy-extensions-0.4.3 pandera-0.6.2 socceraction-1.0.1 typing-inspect-0.6.0 unidecode-1.2.0

In [7]:
import numpy as np
import pandas as pd  # 1.0.3
import matplotsoccer
from ipywidgets import interact_manual, fixed, widgets  # 7.5.1

In [8]:
from io import BytesIO

from pathlib import Path

from tqdm.notebook import tqdm

from urllib.parse import urlparse
from urllib.request import urlopen, urlretrieve

from zipfile import ZipFile, is_zipfile

In [9]:
import pandas as pd  # version 1.0.3

from sklearn.metrics import brier_score_loss, roc_auc_score  # version 0.22.2
from xgboost import XGBClassifier  # version 1.0.2

import socceraction.vaep.features as features
import socceraction.vaep.labels as labels

from socceraction.spadl.wyscout import convert_to_spadl
from socceraction.vaep.formula import value

In [10]:
pip install socceraction==0.2.0

Requirement already satisfied: socceraction==0.2.0 in /usr/local/lib/python3.7/dist-packages (0.2.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from socceraction==0.2.0) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from socceraction==0.2.0) (2.23.0)
Requirement already satisfied: unidecode in /usr/local/lib/python3.7/dist-packages (from socceraction==0.2.0) (1.2.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from socceraction==0.2.0) (1.1.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from socceraction==0.2.0) (4.41.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->socceraction==0.2.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->socceraction==0.2.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->socceraction==0.2.0) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->socceraction==0.2.0) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->socceraction==0.2.0) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->socceraction==0.2.0) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->socceraction==0.2.0) (1.15.0)

In [11]:
data_files = {
    'events': 'https://ndownloader.figshare.com/files/14464685',  # ZIP file containing one JSON file for each competition
    'matches': 'https://ndownloader.figshare.com/files/14464622',  # ZIP file containing one JSON file for each competition
    'players': 'https://ndownloader.figshare.com/files/15073721',  # JSON file
    'teams': 'https://ndownloader.figshare.com/files/15073697'  # JSON file
}

In [12]:
for url in tqdm(data_files.values()):
    url_s3 = urlopen(url).geturl()
    path = Path(urlparse(url_s3).path)
    file_name = path.name
    file_local, _ = urlretrieve(url_s3, file_name)
    if is_zipfile(file_local):
        with ZipFile(file_local) as zip_file:
            zip_file.extractall()

HBox(children=(FloatProgress(value=0.0, max=4.0), HTML(value='')))

In [13]:
def read_json_file(filename):
    with open(filename, 'rb') as json_file:
        return BytesIO(json_file.read()).getvalue().decode('unicode_escape')

In [14]:
json_teams = read_json_file('teams.json')
df_teams = pd.read_json(json_teams)

In [15]:
df_teams1= df_teams.to_hdf('wyscout.h5', key='teams', mode='w')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2449: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['city', 'name', 'officialName', 'area', 'type'], dtype='object')]

  encoding=encoding,

In [16]:
df_teams

                    city  ...      type
0    Newcastle upon Tyne  ...      club
1                   Vigo  ...      club
2              Barcelona  ...      club
3        Vitoria-Gasteiz  ...      club
4               Valencia  ...      club
..                   ...  ...       ...
137            Las Rozas  ...  national
138              Beograd  ...  national
139                 Bern  ...  national
140             Warszawa  ...  national
141                Abuja  ...  national

[142 rows x 6 columns]

In [17]:
df_teams.to_hdf('wyscout.h5', key='teams', mode='w')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2449: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['city', 'name', 'officialName', 'area', 'type'], dtype='object')]

  encoding=encoding,

In [18]:
json_players = read_json_file('players.json')
df_players = pd.read_json(json_players)

In [20]:
#df_players

In [21]:
df_players.to_hdf('wyscout.h5', key='players', mode='a')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2449: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block1_values] [items->Index(['passportArea', 'firstName', 'middleName', 'lastName', 'currentTeamId',
       'birthDate', 'role', 'birthArea', 'foot', 'shortName',
       'currentNationalTeamId'],
      dtype='object')]

  encoding=encoding,

In [22]:
competitions = [
#    'England',
#     'France',
     'Germany',
#     'Italy',
#     'Spain',
#   'European Championship',
#     'World Cup'
]

In [23]:
dfs_matches = []
for competition in competitions:
    competition_name = competition.replace(' ', '_')
    file_matches = f'matches_{competition_name}.json'
    json_matches = read_json_file(file_matches)
    df_matches = pd.read_json(json_matches)
    dfs_matches.append(df_matches)
df_matches = pd.concat(dfs_matches)

In [25]:
#df_matches

In [26]:
df_matches.to_hdf('wyscout.h5', key='matches', mode='a')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2449: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['status', 'teamsData', 'dateutc', 'venue', 'label', 'date', 'referees',
       'duration'],
      dtype='object')]

  encoding=encoding,

In [27]:
for competition in competitions:
    competition_name = competition.replace(' ', '_')
    file_events = f'events_{competition_name}.json'
    json_events = read_json_file(file_events)
    df_events = pd.read_json(json_events)
    df_events_matches = df_events.groupby('matchId', as_index=False)
    for match_id, df_events_match in df_events_matches:
        df_events_match.to_hdf('wyscout.h5', key=f'events/match_{match_id}', mode='a')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2449: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block2_values] [items->Index(['subEventName', 'tags', 'positions', 'eventName', 'matchPeriod',
       'subEventId'],
      dtype='object')]

  encoding=encoding,

In [29]:
#df_events

In [30]:
df_teams

                    city  ...      type
0    Newcastle upon Tyne  ...      club
1                   Vigo  ...      club
2              Barcelona  ...      club
3        Vitoria-Gasteiz  ...      club
4               Valencia  ...      club
..                   ...  ...       ...
137            Las Rozas  ...  national
138              Beograd  ...  national
139                 Bern  ...  national
140             Warszawa  ...  national
141                Abuja  ...  national

[142 rows x 6 columns]

In [31]:
convert_to_spadl('wyscout.h5', 'spadl.h5')

...Inserting actiontypes
...Inserting bodyparts
...Inserting results
...Converting games
...Converting players

  0%|          | 0/306 [00:00<?, ?game/s]

...Converting teams
...Generating player_games

100%|██████████| 306/306 [00:34<00:00,  8.86game/s]
  0%|          | 0/306 [00:00<?, ?game/s]

...Converting events to actions

100%|██████████| 306/306 [03:58<00:00,  1.28game/s]

In [32]:
df_games = pd.read_hdf('spadl.h5', key='games')
df_actiontypes = pd.read_hdf('spadl.h5', key='actiontypes')
df_bodyparts = pd.read_hdf('spadl.h5', key='bodyparts')
df_results = pd.read_hdf('spadl.h5', key='results')

In [33]:
df_teams = pd.read_hdf('spadl.h5', key='teams')
df_players = pd.read_hdf('spadl.h5', key='players')
df_games = pd.read_hdf('spadl.h5', key='games')

In [34]:
team_name_mapping = df_teams.set_index('team_id')['team_name'].to_dict()
df_games['home_team_name'] = df_games['home_team_id'].map(team_name_mapping)
df_games['away_team_name'] = df_games['away_team_id'].map(team_name_mapping)

In [38]:
Bayern_games= df_games[(df_games['home_team_name'] == 'FC Bayern München') | 
         (df_games['away_team_name'] == 'FC Bayern München')
        ]

In [43]:
Bayern_games.shape

(34, 8)

In [45]:
Bayern_games

     game_id  ...                away_team_name
0    2517036  ...            VfB Stuttgart 1893
11   2517029  ...             FC Bayern München
21   2517018  ...           Eintracht Frankfurt
33   2517016  ...             FC Bayern München
39   2517000  ...  Borussia VfL Mönchengladbach
52   2516997  ...             FC Bayern München
57   2516982  ...       BV Borussia 09 Dortmund
63   2516974  ...             FC Bayern München
76   2516964  ...                  Hamburger SV
81   2516957  ...             FC Bayern München
94   2516946  ...                    Hertha BSC
106  2516945  ...             FC Bayern München
110  2516928  ...                 FC Schalke 04
123  2516926  ...             FC Bayern München
129  2516910  ...           TSG 1899 Hoffenheim
136  2516901  ...              SV Werder Bremen
152  2516897  ...             FC Bayern München
160  2516891  ...             FC Bayern München
162  2516874  ...                    1. FC Köln
177  2516869  ...             FC Bayern München
183  2516856  ...                   Hannover 96
191  2516851  ...             FC Bayern München
201  2516838  ...                   FC Augsburg
209  2516829  ...             FC Bayern München
218  2516820  ...       Rasen Ballsport Leipzig
228  2516818  ...             FC Bayern München
237  2516802  ...                   SC Freiburg
244  2516794  ...             FC Bayern München
260  2516784  ...                 VfL Wolfsburg
266  2516779  ...             FC Bayern München
274  2516766  ...               1. FSV Mainz 05
281  2516757  ...             FC Bayern München
291  2516751  ...             FC Bayern München
305  2516739  ...       TSV Bayer 04 Leverkusen

[34 rows x 8 columns]

In [49]:
Bayern_game_ids= list(set(Bayern_games['game_id']))

In [50]:
len(Bayern_game_ids)

34

In [52]:
Bayern_df_events=[]
for game_id in Bayern_game_ids:   
  with pd.HDFStore('spadl.h5') as spadlstore:
      df_actions = spadlstore[f'actions/game_{game_id}']
      df_actions = (
          df_actions.merge(spadlstore['actiontypes'], how='left')
          .merge(spadlstore['results'], how='left')
          .merge(spadlstore['bodyparts'], how='left')
          .merge(spadlstore['players'], how="left")
          .merge(spadlstore['teams'], how='left')
          .reset_index()
          .rename(columns={'index': 'action_id'})
      )
      Bayern_df_events.append(df_actions)
  Bayern_actions= pd.concat(Bayern_df_events)

In [53]:
Bayern_actions

      action_id    game_id  ...   short_team_name                team_name
0             0  2516739.0  ...  Bayer Leverkusen  TSV Bayer 04 Leverkusen
1             1  2516739.0  ...  Bayer Leverkusen  TSV Bayer 04 Leverkusen
2             2  2516739.0  ...  Bayer Leverkusen  TSV Bayer 04 Leverkusen
3             3  2516739.0  ...  Bayer Leverkusen  TSV Bayer 04 Leverkusen
4             4  2516739.0  ...  Bayer Leverkusen  TSV Bayer 04 Leverkusen
...         ...        ...  ...               ...                      ...
1418       1418  2516856.0  ...       Hannover 96              Hannover 96
1419       1419  2516856.0  ...       Hannover 96              Hannover 96
1420       1420  2516856.0  ...       Hannover 96              Hannover 96
1421       1421  2516856.0  ...       Hannover 96              Hannover 96
1422       1422  2516856.0  ...       Hannover 96              Hannover 96

[45664 rows x 22 columns]

In [54]:
Bayern_actions.columns

Index(['action_id', 'game_id', 'period_id', 'time_seconds', 'team_id',
       'player_id', 'start_x', 'start_y', 'end_x', 'end_y', 'bodypart_id',
       'type_id', 'result_id', 'type_name', 'result_name', 'bodypart_name',
       'short_name', 'first_name', 'last_name', 'birth_date',
       'short_team_name', 'team_name'],
      dtype='object')

In [60]:
list(set(Bayern_actions['short_team_name']))

['Bayern München',
 'Hannover 96',
 'Hoffenheim',
 'Wolfsburg',
 'Köln',
 'Hertha BSC',
 'RB Leipzig',
 'Hamburger SV',
 'Borussia Dortmund',
 "Borussia M'gladbach",
 'Bayer Leverkusen',
 'Eintracht Frankfurt',
 'Augsburg',
 'Schalke 04',
 'Freiburg',
 'Stuttgart',
 'Werder Bremen',
 'Mainz 05']

In [62]:
def nice_time(row):
    minute = int((row['period_id']>=2) * 45 + (row['period_id']>=3) * 15 + 
                 (row['period_id']==4) * 15 + row['time_seconds'] // 60)
    second = int(row['time_seconds'] % 60)
    return f'{minute}m{second}s'

Bayern_actions['nice_time'] = Bayern_actions.apply(nice_time,axis=1)

In [63]:
end_first_half = Bayern_actions[Bayern_actions.period_id == 1][['game_id','time_seconds']].groupby('game_id', as_index=False).max()

In [64]:
end_first_half

      game_id  time_seconds
0   2516739.0   2734.335321
1   2516751.0   2762.792830
2   2516757.0   2741.726622
3   2516766.0   2700.561801
4   2516779.0   2706.823112
5   2516784.0   2702.059850
6   2516794.0   2759.853647
7   2516802.0   2698.921407
8   2516818.0   2759.536857
9   2516820.0   2767.102604
10  2516829.0   2742.173617
11  2516838.0   2708.357826
12  2516851.0   3005.273202
13  2516856.0   2805.772268
14  2516869.0   2679.594572
15  2516874.0   2693.129025
16  2516891.0   2752.828064
17  2516897.0   2697.152816
18  2516901.0   2791.031188
19  2516910.0   2751.164098
20  2516926.0   2758.527101
21  2516928.0   2766.755027
22  2516945.0   2762.128011
23  2516946.0   2704.083556
24  2516957.0   2704.491478
25  2516964.0   2708.313027
26  2516974.0   2784.428185
27  2516982.0   2704.858088
28  2516997.0   2822.029769
29  2517000.0   2676.781412
30  2517016.0   2869.271855
31  2517018.0   2668.611054
32  2517029.0   2701.460531
33  2517036.0   2720.905323

In [66]:
end_second_half = Bayern_actions[Bayern_actions.period_id == 2][['game_id','time_seconds']].groupby('game_id', as_index=False).max()

In [67]:
end_second_half

      game_id  time_seconds
0   2516739.0   2795.427088
1   2516751.0   2902.121864
2   2516757.0   3028.007637
3   2516766.0   2702.023273
4   2516779.0   2711.995863
5   2516784.0   2845.158508
6   2516794.0   2939.239554
7   2516802.0   2872.805362
8   2516818.0   2853.364408
9   2516820.0   2698.894604
10  2516829.0   2877.290315
11  2516838.0   2701.099884
12  2516851.0   2907.757457
13  2516856.0   2863.911288
14  2516869.0   3024.644241
15  2516874.0   2775.002015
16  2516891.0   2940.991894
17  2516897.0   2941.234649
18  2516901.0   2823.954918
19  2516910.0   2821.462352
20  2516926.0   2833.770664
21  2516928.0   2905.824712
22  2516945.0   2951.929304
23  2516946.0   2870.239530
24  2516957.0   2697.850877
25  2516964.0   2647.139133
26  2516974.0   2938.838158
27  2516982.0   2685.084564
28  2516997.0   2699.685858
29  2517000.0   2721.356545
30  2517016.0   2708.390854
31  2517018.0   2675.428566
32  2517029.0   2822.098161
33  2517036.0   2736.762569

In [73]:
Bayern_actions[Bayern_actions.period_id== 2]

      action_id    game_id  ...          team_name  nice_time
689         689  2516739.0  ...  FC Bayern München      45m0s
690         690  2516739.0  ...  FC Bayern München      45m4s
691         691  2516739.0  ...  FC Bayern München      45m7s
692         692  2516739.0  ...  FC Bayern München      45m8s
693         693  2516739.0  ...  FC Bayern München     45m11s
...         ...        ...  ...                ...        ...
1418       1418  2516856.0  ...        Hannover 96     92m34s
1419       1419  2516856.0  ...        Hannover 96     92m36s
1420       1420  2516856.0  ...        Hannover 96     92m39s
1421       1421  2516856.0  ...        Hannover 96     92m41s
1422       1422  2516856.0  ...        Hannover 96     92m43s

[22751 rows x 23 columns]

In [74]:
Bayern_actions= pd.merge(Bayern_actions, end_first_half[['game_id','time_seconds']].rename(columns={'time_seconds':'half_max_second'}), on='game_id')

In [75]:
Bayern_actions= pd.merge(Bayern_actions, end_second_half[['game_id','time_seconds']].rename(columns={'time_seconds':'2_half_max_second'}), on='game_id')

In [79]:
Bayern_actions.columns

Index(['action_id', 'game_id', 'period_id', 'time_seconds', 'team_id',
       'player_id', 'start_x', 'start_y', 'end_x', 'end_y', 'bodypart_id',
       'type_id', 'result_id', 'type_name', 'result_name', 'bodypart_name',
       'short_name', 'first_name', 'last_name', 'birth_date',
       'short_team_name', 'team_name', 'nice_time', 'half_max_second',
       '2_half_max_second', 'time_remaining'],
      dtype='object')

In [78]:
def time_remaining(row):
    if row['period_id']==1:
        return int(row['half_max_second']) - int(row['time_seconds'])
    if row['period_id']==2:
        return int(row['2_half_max_second']) - int(row['time_seconds'])
    
Bayern_actions['time_remaining'] = Bayern_actions.apply(time_remaining,axis=1)

In [80]:
def action_name(row):
    return f"{row['action_id']}: {row['nice_time']} - {row['short_name']} {row['type_name']}"

Bayern_actions['action_name'] = Bayern_actions.apply(action_name, axis=1)

In [81]:
PITCH_LENGTH = 105
PITCH_WIDTH = 68

In [84]:
for side in ['start', 'end']:
    # Normalize the X location
    key_x = f'{side}_x'
    Bayern_actions[f'{key_x}_norm'] = Bayern_actions[key_x] / PITCH_LENGTH

    # Normalize the Y location
    key_y = f'{side}_y'
    Bayern_actions[f'{key_y}_norm'] = Bayern_actions[key_y] / PITCH_WIDTH

In [85]:
GOAL_X = PITCH_LENGTH
GOAL_Y = PITCH_WIDTH / 2

In [86]:
for side in ['start', 'end']:
    diff_x = GOAL_X - Bayern_actions[f'{side}_x']
    diff_y = abs(GOAL_Y - Bayern_actions[f'{side}_y'])
    Bayern_actions[f'{side}_distance_to_goal'] = np.sqrt(diff_x ** 2 + diff_y ** 2)
    Bayern_actions[f'{side}_angle_to_goal'] = np.divide(diff_x, diff_y, 
                                                    out=np.zeros_like(diff_x), 
                                                    where=(diff_y != 0))

In [87]:
pd.get_dummies(Bayern_actions['type_name'])

       clearance  corner_crossed  corner_short  ...  tackle  take_on  throw_in
0              0               0             0  ...       0        0         0
1              0               0             0  ...       0        0         0
2              0               0             0  ...       0        0         0
3              0               0             0  ...       0        0         0
4              0               0             0  ...       0        0         0
...          ...             ...           ...  ...     ...      ...       ...
45659          0               0             0  ...       0        0         0
45660          0               0             0  ...       0        1         0
45661          0               0             0  ...       0        0         0
45662          0               0             0  ...       0        0         0
45663          0               0             0  ...       0        0         0

[45664 rows x 18 columns]

In [88]:
def add_action_type_dummies(df_actions):
    return df_actions.merge(pd.get_dummies(df_actions['type_name']), how='left',
                             left_index=True, right_index=True)

In [89]:
Bayern_actions = add_action_type_dummies(Bayern_actions)

In [90]:
def add_distance_features(df_actions):
    df_actions['diff_x'] = df_actions['end_x'] - df_actions['start_x']
    df_actions['diff_y'] = df_actions['end_y'] - df_actions['start_y']
    df_actions['distance_covered'] = np.sqrt((df_actions['end_x'] - df_actions['start_x']) ** 2 +
                                             (df_actions['end_y'] - df_actions['start_y']) ** 2)

In [91]:
def add_time_played(df_actions):
    df_actions['time_played'] = (df_actions['time_seconds'] + 
                             (df_actions['period_id'] >= 2) * (45 * 60) + 
                             (df_actions['period_id'] >= 3) * (15 * 60) + 
                             (df_actions['period_id'] == 4) * (15 * 60)
                             )

In [92]:
add_distance_features(Bayern_actions)
add_time_played(Bayern_actions)

In [94]:
Bayern_actions.shape

(45664, 57)

In [96]:
Bayern_actions.to_excel('Bayern_actions.xlsx')